{% include get_local.html %}

<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-md-8">

            {% assign posts = (site.categories[locale] | where: "layout" , "post") %}
            {% for post in posts %}
                {% assign blogpost = post %}
                <! -- Blog Post -->
                <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ blogpost.img }}"></p>
                <a href="{{ blogpost.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ blogpost.title }}</h3></a>
                <p><csmall>
                    {% include auth_date.html %}
                </csmall></p>
                {{ blogpost.excerpt }}
                <p><a href="{{ blogpost.url | prepend: site.baseurl }}">[{{ site.data.locales[locale].read_more }}]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->