{% include get_local.html %}

<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-md-8">

            {% for post in site.categories[locale] %}
                <! -- Blog Post -->
                <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}"></p>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>
                    {% if locale == site.default_locale %}
                        {{ post.date | date: "%d %B, %Y" }}
                    {% else %}
                        {{ post.date | localize: "%d %B %Y" }}
                    {% endif %}
                     | {{ site.data.locales[locale].by }}: {{ post.author }}
                </csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[{{ site.data.locales[locale].read_more }}]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->