<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We make maps in the Alps. On fait de la cartographie dans les Alpes!">
    <meta name="author" content="Maptime-Alpes Contributors">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/img/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/img/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/img/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/img/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/img/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/img/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-32x32.png" sizes="32x32" | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-16x16.png" sizes="16x16" | prepend: site.baseurl }}" />
    <meta name="application-name" content="Maptime-Alpes"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ "/assets/img/mstile-144x144.png" | prepend: site.baseurl }}" />

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/fontcustom/fontcustom.css" | prepend: site.baseurl }}" rel="stylesheet">
    {% if page.posttype == 'tutorial' %}
    <link href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}" rel="stylesheet">
    {% endif %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ "/assets/js/modernizr.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
</head>
